@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root{
    --cor-primaria: #4B0082;
    --cor-secundaria: #1A1A1A;
    --cor-acento: #DAA520;
    --fundo: #2C2C2C;
    --texto: #F5F5F5;
}


