@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  --cor-primaria: #4b0082;
  --cor-secundaria: #1a1a1a;
  --cor-acento: #daa520;
  --fundo: #2c2c2c;
  --texto: #f5f5f5;
}

* {
  font-family: Merriweather;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

body {
  background-color: var(--fundo);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  align-items: center;
}

header .logo {
  width: 70px;
  align-items: center;
}

header h1 {
  color: var(--cor-acento);
}
