@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

:root {
  --cor-primaria: #5b2cbf;
  --cor-secundaria: #1e1e1e;
  --cor-acento: #f1c232;
  --fundo: #2b2b2b;
  --texto: #f9f9f9;
  --cinza: #3a3a3a;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

body {
  background-color: var(--fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header .logo {
  width: 60px;
}

header h1 {
  color: var(--cor-acento);
  font-size: 1.8em;
  letter-spacing: 1px;
}

main {
  display: flex;
  max-width: 600px;
  margin-top: 25vh;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 50%;
  background-color: var(--cor-secundaria);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 2em;
}

h2{
    font-size: 2em;
    margin-bottom: 1em;
}


main input[type="email"],
main input[type="password"] {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: var(--cinza);
  color: var(--texto);
  padding: 0 15px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}



.Redirecionamento {
  font-size: 0.85em;
  margin-top: 1em;
  color: #ccc;
}


.Redirecionamento a {
  margin-top: 2em;
  color: #aaa;
  text-decoration: none;
  transition: 0.3s ease;
}

.Redirecionamento a:hover {
  color: var(--cor-acento);
}

#enviar {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: var(--cor-primaria);
  border: none;
  margin-top: 2rem;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

#enviar:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #4a1fa3;
}

