@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  --cor-primaria: #5b2cbf;
  --cor-secundaria: #1e1e1e;
  --cor-acento: #f1c232;
  --fundo: #2b2b2b;
  --texto: #f9f9f9;
  --cinza: #3a3a3a;
  --fonte-primaria: 'Inter', Arial, sans-serif;
  --fonte-secundaria: 'Merriweather', serif;
}

* {
  font-family: var(--fonte-secundaria);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--texto);
}

body {
  background-color: var(--fundo);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* Centraliza verticalmente */
  padding-top: 0;           /* Removido */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

header .logo {
  width: 60px;
}

header h1 {
  font-family: var(--fonte-secundaria);
  color: var(--cor-acento);
  font-size: 1.8em;
}

main {
  display: flex;
  max-width: 600px;
  margin-top: 0;                 /* Removido */
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 50vw;
  background-color: var(--cor-secundaria);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 2em;
  margin-top: 150px;             /* Ajusta para ficar abaixo do header */
}

.opcoes-transacao {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.opcoes-transacao button {
    background-color: var(--cinza);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    border: 0px;
    transition: 0.3s ease, transform 0.3s ease ;
    font-family: var(--fonte-primaria);
}

.opcoes-transacao button:hover {
    background-color: #2b2b2b;
    transform: scale(1.05);
    cursor: pointer;
}

.card {
  background-color: var(--fundo-card);
  padding: 1.5em;
  border-radius: 16px;
  box-shadow: 0 0 20px #00000070;
  transition: 0.3s;
  backdrop-filter: blur(3px);
  border: 1px solid #ffffff1a;
  background-color: var(--cor-secundaria);
  z-index: 0;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px #000000aa;
}

.atividade h2 {
  font-size: 1.6em;
  color: var(--dourado);
  margin-bottom: 1em;
}

.extrato div {
  display: flex;
  justify-content: space-between;
  background-color: var(--cinza);
  padding: 0.8em 1em;
  border-radius: 8px;
  margin-bottom: 0.5em;
  transition: 0.2s ease;
}

.extrato div:hover {
  background-color: #525252;
}

.card input {
  color: #1e1e1e;
  padding: 10px;
  border-radius: 15px;
  background-color:#eee9e9;
  max-width: 180px;
}

.card img {
  margin: 0px 0px 0px 10px;
  padding-top: 10px;
  width: 20px;
}